build
librts
libcdk
*.o
*.asm
og
gr8

# cvs folder
src_cvs

# generated stuff
src/ast/all.h
src/ast/visitor_decls.h
src/og
*.output
*.tab.c
*.tab.h
src/og_scanner.cpp
tests/*
!tests/*.og
!tests/testall.sh
!tests/Makefile
!tests/expected
examples/*
examples/*-src/*
!examples/*.og
!examples/*-src/*.og
